{% extends "tienda/base.html" %}

{% block title %}Carrito{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Tu Carrito</h2>

    {% if carrito %}
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for id, item in carrito.items %}
                <tr>
                    <td>{{ item.nombre }}</td>
                    <td>${{ item.precio|default:0|floatformat:0 }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>${{ item.subtotal|default:0|floatformat:0 }}</td>
                    <td>
                        <a href="{% url 'eliminar_producto' id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Total: ${{ total|default:0|floatformat:0 }}</h4>
        <a href="{% url 'vaciar_carrito' %}" class="btn btn-warning">Vaciar carrito</a>
        {% if user.is_authenticated %}
        <a href="{% url 'realizar_pedido' %}" class="btn btn-success">Realizar pedido</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-secondary"
            onclick="alert('Debes iniciar sesión para continuar con tu pedido.')">
            Iniciar sesión para continuar
        </a>
        {% endif %}

    {% else %}
        <p>No tienes productos en el carrito.</p>
    {% endif %}
</div>
{% endblock %}