{% extends "tienda/base.html" %}
{% load static %}

{% block title %}Inicio - AutoParts{% endblock %}

{% block content %}
<section class="mt-5">
    <div class="container">
        <h2 class="text-center mb-4">Productos Destacados</h2>
        <div class="row">
			{% for producto in productos %}
				<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					<div class="card h-100 shadow-sm">
						{% if producto.imagen %}
							<img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
						{% else %}
							<img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="Sin imagen">
						{% endif %}
						<div class="card-body text-center">
							<h5 class="card-title">{{ producto.nombre }}</h5>
							<p class="card-text">${{ producto.precio_unitario }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
        </div>
    </div>
</section>
{% endblock %}