{% extends "tienda/base.html" %}
{% load static %}

{% block title %}Inicio - AutoParts{% endblock %}

{% block content %}
<!-- un carrusel feo que todavia no tiene imagenes lol -->
<div id="carouselInicio" class="carousel slide w-100 mb-5" data-ride="carousel" data-interval="5000" data-wrap="true">
  <div class="carousel-inner rounded shadow">

    <!-- Slide 1: Fundas para Asientos -->
    <div class="carousel-item active">
      <a href="{% url 'catalogo' %}?categoria=15">
        <img src="{% static 'img/carrusel/fundac.png' %}" class="d-block w-100" alt="Fundas para Asientos">
      </a>
    </div>

    <!-- Slide 2: Kits de Emergencia -->
    <div class="carousel-item">
      <a href="{% url 'catalogo' %}?categoria=16">
        <img src="{% static 'img/carrusel/emergency1.png' %}" class="d-block w-100" alt="Kits de Emergencia">
      </a>
    </div>

    <!-- Slide 3: Baterías -->
    <div class="carousel-item">
      <a href="{% url 'catalogo' %}?categoria=10">
        <img src="{% static 'img/carrusel/baterias.png' %}" class="d-block w-100" alt="Baterías para Auto">
      </a>
    </div>

  </div>

  <!-- Controles -->
  <a class="carousel-control-prev" href="#carouselInicio" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselInicio" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>



<section class="mt-5">
    <div class="container">
        <h2 class="text-center mb-4">Productos Destacados</h2>
        <div class="row">
			{% for producto in productos %}
				<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					<div class="card h-100 shadow-sm">
						{% if producto.imagen %}
							<img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
						{% else %}
							<img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="Sin imagen">
						{% endif %}
						<div class="card-body text-center">
							<h5 class="card-title">{{ producto.nombre }}</h5>
							<p class="card-text">${{ producto.precio_unitario }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
        </div>
    </div>
</section>
{% endblock %}