{% extends 'tienda/base.html' %}

{% load static %}

{% block title %}Iniciar Sesión - AutoParts{% endblock %}

{% block content %}
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
                    <div class="hover">
                        <h4>¿Eres nuevo?</h4>
                        <p>Regístrate para comprar repuestos con nosotros.</p>
                        <a class="primary-btn" href="{% url 'register' %}">Crear cuenta</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Iniciar sesión</h3>
                    <form class="row login_form" action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" name="email" placeholder="Correo electrónico" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="primary-btn">Entrar</button>
                        </div>
                        <div class="col-md-12 form-group text-center">
                            <a href="#">¿Olvidaste tu contraseña?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
