{% extends "tienda/base.html" %}
{% load static %}

{% block title %}Realizar Pedido{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-4 mt-5 text-center">Realizar Pedido</h2>

        <form method="post" class="shadow p-4 border rounded bg-white">
            {% csrf_token %}

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" value="{{ user.nombre }}" readonly>
            </div>
            <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control" value="{{ user.apellido }}" readonly>
            </div>
            <div class="form-group">
                <label>RUT</label>
                <input type="text" class="form-control" value="{{ user.rut }}" readonly>
            </div>
            <div class="form-group">
                <label>Teléfono</label>
                <input type="text" class="form-control" value="{{ user.telefono }}" readonly>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" value="{{ user.email }}" readonly>
            </div>
            <!-- Ya NO incluimos comuna -->

            <!-- Campos del pedido -->
            <div class="form-group">
                <label for="id_tipo_entrega">Tipo de entrega</label>
                <select name="tipo_entrega" class="form-control" id="id_tipo_entrega">
                    <option value="retiro">Retiro en tienda</option>
                    <option value="envio">Envío a domicilio</option>
                </select>
            </div>
            <div class="form-group">
                <label for="id_direccion_entrega">Dirección de entrega</label>
                <input type="text" name="direccion_entrega" class="form-control" id="id_direccion_entrega">
            </div>


            

            <input type="hidden" name="productos" id="productos">
            <a href="{% url 'checkout' %}" class="btn btn-success">Finalizar compra</a>
        </form>
    </div>
</div>

<script>
    const productosSeleccionados = JSON.parse('{{ productos_json|escapejs }}');
    document.getElementById('productos').value = JSON.stringify(productosSeleccionados);
</script>
{% endblock %}
